﻿@model RedactorIndexViewModel

    <form asp-action="Index" method="post">
        <div class="form-group">
            <label>Заголовок</label>
            <input class="form-control" asp-for="@Model.Article.Header" placeholder="Как выварить радик на 5 минуте?">
        </div>
        <div class="form-group">
            <label>Содержимое</label>
            <textarea id="summernote" class="form-control" asp-for="@Model.Article.Content" rows="100" placeholder="Никак."></textarea>
            <script>
                $(document).ready(function () {
                    $('#summernote').summernote({
                        height: 300,   //set editable area's height
                        theme: "paper"
                    });
                });
            </script>
        </div>
        <input type="hidden" asp-for="@Model.Article.UserName" />
        <input type="hidden" asp-for="@Model.Article.Key" />
        <input type="hidden" asp-for="@Model.Article.Date" />
        <input class="hidden" asp-for="@Model.Article.Creator" />
        <input class="btn btn-primary" type="submit" value="Сохранить">
    </form>
