﻿@model HomeIndexViewModel
@{
    ViewData["Title"] = "Главная";
}
@foreach (var article in Model.Articles)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><b>@article.Header</b></h3>
        </div>
        <div class="panel-body"><div id="@article.Key">@Html.Raw(article.Content)</div></div>
        <div class="panel-footer">Автор: @article.UserName. Дата публикации: @article.Date</div>
    </div>
}