﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<button type="button" onclick="CreateMessage('test', 'success');" class="btn btn-success">Success</button>
<button type="button" onclick="CreateMessage('test', 'info');" class="btn btn-info">Info</button>
<button type="button" onclick="CreateMessage('test', 'warning');" class="btn btn-warning">Warning</button>
<button type="button" onclick="CreateMessage('test', 'danger');" class="btn btn-danger">Danger</button>