﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    position: relative;
    top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

textarea {
    resize: vertical;
}

#messageContainer {
    position: fixed;
    width: 300px;
    top: 60px;
    right: 10px;
    z-index: 1;
}

.note-video-clip {
    position: relative;
    width: auto;
    height: auto; 
}

.edit-user {
    display: none;
    top: 70px;
    position: fixed;
    z-index: 1;
    width: 600px;
    right: 0;
    left: 0;
    margin: auto;
}

.change-user-form {
    margin: 10px;
}

.time {
    position:relative;
    height: 278px;
    margin:auto;
}

.clock {
    position:relative;
    top: 70px;
    left: 170px;
}

.buttons {
    margin: 10px;
}