﻿@using Test_Auth.Models.AdminViewModels
@model Test_Auth.Models.AdminViewModels.AdminIndexViewModel
@{ 
    ViewData["Title"] = "Админ-Панель";
}
@ViewData["test"]
<script type="text/javascript" src="~/js/Messages.jsx"></script>
<script type="text/javascript" src="~/js/Admin.jsx"></script>
<div id="EditUsers"></div>
